.banner-pic {
  width: 750rpx;
  height: 295rpx;
  font-size: 0;
  swiper, image {
    width: 750rpx;
    height: 295rpx;
  }
}

.title_item {
  width: 100%;
  background: #fff;
  border-top: 20rpx solid #f2f2f2;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100rpx;
  line-height: 100rpx;
  .icon {
    width: 3px;
    height: 14px;
    background: #ff730a;
    margin-right: 25rpx;
  }
  .title {
    font-size: 30rpx;
  }
  .more {
    position: absolute;
    right: 50rpx;
    font-size: 26rpx;
    display: flex;
    align-items: center;
    color: #999;
    .more_icon {
      width: 14rpx;
      height: 25rpx;
      margin-left: 25rpx;
    }
  }
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  .novel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    image {
      width: 190rpx;
      height: 250rpx;
    }
    .novel-names {
      width: 190rpx;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 26rpx;
      color: #333;
      white-space: nowrap;
      height: 80rpx;
      line-height: 80rpx;
    }
  }
}

.popular_item {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100rpx;
  .order {
    margin-left: 25rpx;
    background-repeat: no-repeat;
    background-size: cover;
    width: 38rpx;
    height: 32rpx;
    line-height: 32rpx;
    text-align: center;
    font-size: 25rpx;
    color: #fff;
  }
  .name {
    font-size: 32rpx;
    color: #333;
    margin: 0px 25rpx;
  }
  .author {
    font-size: 24rpx;
    color: #808080;
  }
}

.countdown {
  position: absolute;
  right: 50rpx;
  font-size: 26rpx;
  display: flex;
  align-items: center;
  color: #333;
  .border {
    padding: 0rpx 8rpx;
    height: 38rpx;
    line-height: 38rpx;
    font-size: 22rpx;
    border: 1rpx solid #e5e5e5;
    border-radius: 6rpx;
    display: inline-block;
    margin-right: 10rpx;
    margin-left: 10rpx;
  }
}

.change {
  position: absolute;
  right: 50rpx;
  font-size: 26rpx;
  display: flex;
  flex-direction: row;
  align-items: center;
  image {
    width: 26rpx;
    height: 26rpx;
    margin-right: 15rpx;
  }
}

.recommend-swiper {
  height: 330rpx;
}
